force-app/main/default/flows/Application_Requirement_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>toCreateGreen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewReqYellow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_all_requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_collection</name>
        <label>Copy 1 of Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>toCreateGreen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewReqYellow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_all_requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Dom_Req</name>
        <label>Get Dom Req</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewReqYellow.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_all_requirement.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReqYellow.Requirement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReqYellow.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Int_Req</name>
        <label>Get Int Req</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewReqYellow.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_all_requirement.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReqYellow.Requirement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReqYellow.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sort_requirement</name>
        <label>Sort requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Load_all_requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_all_requirement.Requirement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dom_Req</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_all_requirement.Requirement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Int_Req</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application Requirement Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Requirement Creation</label>
    <loops>
        <name>Load_all_requirement</name>
        <label>Load all requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Prog_Requirement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sort_requirement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AppReq</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AppReq</name>
        <label>Create AppReq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>toCreateGreen</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Prog_Requirement</name>
        <label>Get Prog Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_all_requirement</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Requirement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prog_Requirement</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getApplicationInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>NewDomReq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Requirement__c</objectType>
    </variables>
    <variables>
        <name>NewIntReq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Requirement__c</objectType>
    </variables>
    <variables>
        <name>NewReqYellow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Requirement__c</objectType>
    </variables>
    <variables>
        <name>progReq</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Requirement__mdt</objectType>
    </variables>
    <variables>
        <name>toCreateGreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Requirement__c</objectType>
    </variables>
</Flow>
